body .slim-header {
    background-color: #0668E3;
}

body .nodblue {
    color: #0668E3;
}

body {
    background-color: #F4F6F9;
}

.dark-grey {
    color: #7A7C7F;
}


body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: #212529;
}

.tx-14 {
    font-size: 14px;
}

body .alert-d-info p {
    margin-bottom: 12px;
}

.nod-card-height {
    min-height: 180px;
}

.middle-align {
    margin: auto 0;
}

body .nod-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-width: 0px;
    border-radius: 3px;
}

body .nod-card-inner {
    padding: 20px;
    display: flex;
    align-items: center;
}

body .card-shadow {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.01),
        0 3px 3px 0 rgba(0, 0, 0, 0.01);
}


body .card-dash-one .row>div:nth-child(odd),
body .card-dash-one .row>div:nth-child(even) {
    background-color: inherit;
}



/* --------------------- NAVIGATON -------------------------- */


body .slim-navbar .nav-link {
    color: #7D95B6;
    font-family: Graphik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;
}

body .slim-navbar .nav-item .nav-link .icon {
    color: #7D95B6;
    font-size: 20px;
}



body .slim-navbar .nav-item.active .nav-link {
    background-color: unset;
    background-image: unset;
    border-width: 1px;
    color: #0568e3;
}

body .slim-navbar .nav-item.active .nav-link .icon {
    color: #0568e3;
}

/* --------------------- ALERT INFO -------------------------- */

body .alert-card-info {
    background-color: #F7FBFF;
    border: 1px dotted #0668E3;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
    padding: 20px;
    border-radius: 3px;
}

img.alert-icon {
    width: 23%;
    max-width: 50px;
}

span.alert-micon {
    padding-right: 10px;
}

.next-payment {
    color: #191919;
    opacity: 0.4345005580357143;
    text-align: center;
}