@font-face {
  font-family: "Graphik";
  src: url("../../app/lib/fonts/Graphik/Graphik-Light.eot"),
    url("../../app/lib/fonts/Graphik/Graphik-Light.woff") format("woff"),
    url("../../app/lib/fonts/Graphik/Graphik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../../app/lib/fonts/Graphik/Graphik-Regular.eot"),
    url("../../app/lib/fonts/Graphik/Graphik-Regular.woff") format("woff"),
    url("../../app/lib/fonts/Graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../../app/lib/fonts/Graphik/Graphik-Medium.eot"),
    url("../../app/lib/fonts/Graphik/Graphik-Medium.woff") format("woff"),
    url("../../app/lib/fonts/Graphik/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../../app/lib/fonts/Graphik/Graphik-Semibold.eot"),
    url("../../app/lib/fonts/Graphik/Graphik-Semibold.woff") format("woff"),
    url("../../app/lib/fonts/Graphik/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../../app/lib/fonts/Graphik/Graphik-Bold.eot"),
    url("../../app/lib/fonts/Graphik/Graphik-Bold.woff") format("woff"),
    url("../../app/lib/fonts/Graphik/Graphik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
